@import "tailwindcss";

@theme {
    --color-floresta: #52b788;
    --color-emerald: #57CC99;
    --color-ligth-green: #80ed99;
    --color-mint: #78C091;
    --color-links: #AAFCB8;
    --color-green: #6EEB83;
    --color-menta: #d1fae5;
}